@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>CRUD PRODUCTOS </h2>
    <p>
        ASP.Net Core Razor Pages <br />
        Oscar Cienfuegos <br />
        El siguiente es un crud basico realizado en .NET 6, donde se administra la tabla productos
.
   </p>
    <br />
</div>
